body{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    font-family: 'Montserrat', 'sans-serif';
    box-sizing: border-box;
    color: var(--black3);
}

:root{
    --lilac: hsla(248, 59%, 55%, 1);   
    --inputBackground: rgba(91, 73, 208, 7%);  
    --lilacBtn: hsla(248, 93%, 77%, 1);
    --black3: hsla(0, 0%, 17%, 1);
}

.login-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-div{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* height: 700px; */
    /* border: 2px solid red; */
}
.img-div{
    width: 50%;

    position: relative;
    /* border: 2px solid red; */
}
.logo {
    position: absolute;
    width: 60%;
    left: 15%;
    top: -5%
}
.login-text{
    position: absolute;
    bottom: 0%;
    left: 8%;
    width: 60%;
}
.form-div{
    /* display: flex; */
    width: 60%;   
    display: flex;
    flex-direction: column;
    justify-content: space-between

}
label{
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}
