nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(204, 204, 204, 0.2);
    padding: 0 3% 0 5%;
    width: 100%;
    height: 130px;
    /* position: fixed; */
  }
  
  .nav-container{
    width: 40%;
    /* background: orange; */
    display: flex;
    align-items: center;
  }

  .nav-logo-container {
    width: 300px;
    height: 64px;
  }
  
  img {
      width: 100%;
      height: 100%;
    }

    .navbar-link-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 35%;
    }
  
  .navbar-link-container a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;    
    font-weight: 400;
  }
  
  .primary-button {
    padding: 16px 32px;
    width: 100%;
    background-color: #5a47cf;
    color: #fcfcfc;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    /* transition: 0.2s; */
  }

  .hamburger{
    display: none;
  }

/* Responsive styles for different screen sizes */
/* Mobile devices */
@media (max-width: 480px) {

  nav{
    padding: 0% 5%;
  }
  .hamburger {
    display: block;
    font-size: 1.5rem;
  }

  .nav-container{
    display: flex;
    align-items: center;
    padding-top: 5%;
  }

  .nav-logo-container{
    width: 150px;
    height: 55px;
  }

  .navbar-link-container{
    width: 60%;
    align-items: end;
    justify-content: end;
  }

  .navbar-link-container a{
    display: none;
  } 

  .primary-button{
    display: none;
  }
}

/* iPads and Tablets */
@media (min-width: 481px) and (max-width: 768px) {

  nav{
    /* padding: 0% 5%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
  }

  .nav-container{
    display: flex;
    align-items: center;
    padding-top: 2%;
    width: 55%;
  }

  .nav-logo-container{
    width: 200px;
    height: 55px;
  }

  .navbar-link-container{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5%;
  }

  .navbar-link-container a{
    font-size: 1.1rem;
  } 

  .primary-button{
   font-size: 1.1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  nav{
    /* padding: 0% 5%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
  }

  .nav-container{
    display: flex;
    align-items: center;
    padding-top: 2%;
    width: 55%;
  }

  .nav-logo-container{
    width: 200px;
    height: 55px;
  }

  .navbar-link-container{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5%;
  }

  .navbar-link-container a{
    font-size: 1.5rem;
  } 

  .primary-button{
   font-size: 1.5rem;
  }
}