.testimonials{
    /* border: solid 4px red; */
    margin: 28px 80px;
    display: flex;
    flex-direction: column;
    /* border: solid 1px purple; */
}

.testimonial-header{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
}
/* .testimonials-container */

.testimonial-header h1{
    color: #5A47CF;
    font-size: 3rem;
    font-weight: 600;
    line-height: 140%;
    /* margin-bottom: 28px; */
}

.secondary-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-container1 ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 605px;
    height: 450px;
    padding: 16px 66px 66px 16px;
    border-radius: 8px;
    background-color: #FCFCFC;
    box-shadow: 8px 8px 8px 0px rgba(217, 217, 217, 0.20);
    border: solid 1px #B5AAFC;
    /* z-index: 1; */
    /* position: relative; */
}

/* .list-container1 ul, li{
   
} */
/* .list-container2{
    position: absolute;
    width: 426px;
    height: 368px;
    border-radius: 8px;
    background-color: #5E0035;
    z-index: 1;
    top: -100px;
} */

.list-container1 li{
    margin: 0 16px;
    font-size: 1.4rem;
    /* list-style: disc; */
    list-style-type: disc;
    list-style-image: url(); 

}

