@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fcfcfc;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.card0 {
  box-shadow: 4px 4px 8px 0px rgba(204, 204, 204, 0.2);
}

.card1 {
  border-radius: 8px 8px 0px 8px;
  box-shadow: 8px 8px 0px 0px #5e0035;
}

.card2 {
  border-radius: 8px 8px 0px 8px;
  box-shadow: 8px 8px 0px 0px #5a47cf;
}

.card3 {
  border-radius: 8px 8px 0px 8px;
  box-shadow: 8px 8px 0px 0px #5a47cf;
}

.savingsCard {
  box-shadow: 8px 8px 0px 0px #5a47cf;
}

body {
  box-sizing: border-box;
  color: var(--black3);
}

:root {
  --lilac: hsla(248, 59%, 55%, 1);
  --inputBackground: rgba(91, 73, 208, 4%);
  --lilacBtn: hsla(248, 93%, 77%, 1);
  --black3: hsla(0, 0%, 17%, 1);
  --black2: hsla(0, 0%, 50%, 1);
  --blue: hsla(248, 49%, 44%, 1);
  --pink: hsla(326, 23%, 84%, 1);
}


